nav {
    color: #fff;
    background-color: #2A3239;
    width: 100%;
    height: 105px;
    padding: 20px 14px 0px 14px;
}

.site_logo_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toggle{
    width: 25px;
    height: 17px;
}
.logo{
    width: 83px;
    height: 46px;
}
.search{
    width: 28px;
    height: 28px;
}
.mobile-nav{
    justify-content: space-between;
}
.categories {
    margin-top: 17px;
}
.mobile-nav li{
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    line-height: normal;
    opacity: 70%;
}
.mobile-nav li.active{
    border-bottom: 2px solid white;
    background-color: transparent;
    opacity: 100%;
}
