<nav class="header_top_bar">
    <div class="site_logo_wrapper">
        <img class="toggle" src="/assets/images/toggle.svg">
        <img class="logo" src="/assets/images/front.svg">
        <img class="search" src="/assets/images/Search icon.svg">
    </div>
    <div class="categories">
        <ul class="nav mobile-nav mobile-nav home-slider mobile-home-scroll-content">
          <li class="item active">
            Home
          </li>
          <li class="item">
            Movies
          </li>
          <li class="item">
            aha Originals
          </li>
          <li class="item">
            Wishlist
          </li>
        </ul>
      </div>
</nav>