/* You can add global styles to this file, and also import other style files */
body{
    background-color: #2A3239 !important;
}
.imgCls1{
    width: 90px;
    height: 65px;
}
.imgCls{
    width: 84px;
    height: 84px;
}
.imgCls3{
    width: 150px;
    height: 100px;
}