<div class="site_footer">
    <div class="site_footer_wrapper">
        <ul class="nav-bottom-site">
            <li>
                <img src="/assets/images/home.svg">
            </li>
            <li>
                <img src="/assets/images/reel 1.svg">
            </li>
            <li>
                <div class="shorts_wrapper">
                    <div class="content_wrapper">
                        <img src="/assets/images/Vector.svg">
                        <span>SHORTS</span>
                    </div>
                </div>
            </li>
            <li>
                <img src="/assets/images/heart 1.svg">
            </li>
            <li>
                <img src="/assets/images/profile.svg">
            </li>
        </ul>
    </div>
</div>